<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.level1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo0"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Morag3a"></activity>
        <activity android:name=".Quizes.QuizT33" />
        <activity android:name=".Quizes.QuizT32" />
        <activity android:name=".Quizes.QuizT31" />
        <activity android:name=".Quizes.QuizC33" />
        <activity android:name=".Quizes.QuizC32" />
        <activity android:name=".Quizes.QuizC31" />
        <activity android:name=".Quizes.QuizC23" />
        <activity android:name=".Quizes.QuizC22" />
        <activity android:name=".Quizes.QuizC21" />
        <activity android:name=".Quizes.QuizT23" />
        <activity android:name=".Quizes.QuizT22" />
        <activity android:name=".Quizes.QuizT21" />
        <activity android:name=".Quizes.QuizC13" />
        <activity android:name=".Quizes.QuizC12" />
        <activity android:name=".Quizes.QuizC11" />
        <activity
            android:name=".Quizes.QuizCatalog3"
            android:parentActivityName=".Quizes.QuizCatalogue" />
        <activity
            android:name=".Quizes.QuizCatalog2"
            android:parentActivityName=".Quizes.QuizCatalogue" />
        <activity
            android:name=".Quizes.QuizCatalog1"
            android:parentActivityName=".Quizes.QuizCatalogue" />
        <activity android:name=".Quizes.QuizT13" />
        <activity android:name=".Quizes.QuizT12" />
        <activity android:name=".Quizes.QuizT11" />
        <activity
            android:name=".Quizes.QuizCatalogue"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Games.FIND"
            android:parentActivityName=".Games.games" />
        <activity
            android:name=".Games.XO"
            android:parentActivityName=".Games.games" />
        <activity
            android:name=".Games.games"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".wel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Level1_3"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Level1_2"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Level1_1"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9066719717930706~9380288818" />
    </application>

</manifest>